#text {
    font-size: 24pt;
}

/*стилизуем кнопку наверх*/
#top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    background-color: #F5F5F5; /*rgba(245, 245, 245, 1)*/
    color: black;
    wight: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24pt;
    font-weidht: bold;
    z-index: 99;

}
/*стилизуем кнопку наверх*/
#top-btn:hover
    background-color: #ffc107;
    color: #dc3355;